bigchaindb_one/mongodb
bigchaindb_one/tendermint/data
bigchaindb_one/tendermint/config/*
!bigchaindb_one/tendermint/config/genesis.json
!bigchaindb_one/tendermint/config/config.toml

bigchaindb_two/mongodb
bigchaindb_two/tendermint/data
bigchaindb_two/tendermint/config/*
!bigchaindb_two/tendermint/config/genesis.json
!bigchaindb_two/tendermint/config/config.toml


bigchaindb_three/mongodb
bigchaindb_three/tendermint/data
bigchaindb_three/tendermint/config/*
!bigchaindb_three/tendermint/config/genesis.json
!bigchaindb_three/tendermint/config/config.toml